
body {
    background-color: green;
    color: white;
    text-align: center;
}

.botones{
    width: 100px;
}
.mataPlaga{
    width: 100px;
}

.boxPrimary {
   background-color: beige;
}

.btn-green {
    color: white;
    background-color:rgb(27, 188, 9);
    padding: 5px;
    border: none;
    border-radius: 10px; }
    
    .btn-green-2 {
        color: white;
        background-color:darkgreen;
        padding: 5px;
        border: none;
        border-radius: 10px; }  
 p {
    font-size: medium;
    color: black;
 }   
  
 .planta {
 position: absolute;
 z-index: 1;
 }

 .plantaMuerta {
    position: absolute;
    z-index: 1;
    }
   
 .plaga {
    position: absolute;
    z-index: 2;
    }

   
    h3 {
color: darkgreen;
font-weight: 300;
    }

    h5{
        color: black;
        font-weight:900;
    }

    .titulo{
        color: darkgreen;
    }

    .nombrePlanta{
        color:darkgreen;
        font-size: medium;
    }